<h2>Trips!</h2>

<div>
  <%= paginate @trips %>
</div>

<ul class="Trip_List">
  <% @trips.each do |trip| %>
  <li>
    ID:
    <%= link_to(trip.id, trip_path(trip)) %>
    Date:
    <%= trip.date %>
  </li>
  <% end %>
</ul>
