/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.full_page {
   text-decoration: none;
   font-family: 'Monda', sans-serif;
   list-style-type: none;
 }

.head {
  text-align: center;
  background-color: rgb(198, 194, 214);
  position: sticky;
  border-radius: 2%;
  border: 1px groove;
}

.head ul li {
  padding: 1%;
  display: inline-flex;
  flex-direction: row;
  flex-flow: wrap;
}

a:link {
  list-style-type: none;
  text-decoration: none;
  color: rgb(96, 47, 108);
}

a:visited {
  color: rgb(96, 47, 108);
}

a:hover {
  color: goldenrod;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.5em;
}

.toggle {
  text-align: center;
  font-size: 1.5em;
  color: rgb(91, 22, 115);
  margin: 10%;
}
