// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.passenger_title > ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.passenger_list ul {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  list-style-type: none;
  margin-left: 20%;
  margin-right: 20%;
}

.passenger_list ul > li {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

.pass_taken_trips > li {
background-color:rgb(246, 245, 155);
padding: 1px;
margin-right: 80%;
}
